
/*ローリングの為のｃｓｓ************************************************************/

#splash {
    /*fixedで全画面に*/
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(110, 110, 110);
    text-align: center;
    color: #fff;
}

/*ローリング画面中央配置*/
#splash_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: rgb(110, 110, 110);
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}

/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}

/*クラス名がついたらy軸方向に０*/
.coveranime {
    transform: scaleY(0);
}

/***********************************************************************************************************************/



body {
    width: 100%;
    background-color: rgb(208, 206, 200,0.2);
}

/*  ハンバーガーボタン*/
.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active span{
    background :#fff;
  }
  .hamburger.active span:nth-child(1) {
    -webkit-transform: translateY(6px);
    -moz-transform   : translateY(6px);
    transform        : translateY(6px);
  }
  .hamburger.active span:nth-child(2){
  -webkit-transform: translateY(-4px);
    -moz-transform   : translateY(-4px);
    transform        : translateY(-4px);
  }  
  
  .hamburger.active span:nth-child(3) {
    -webkit-transform: translateY(-14px);
    -moz-transform   : translateY(-14px);
    transform        : translateY(-14px);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
  
  }
    main {
    text-align: center;
    margin: 125px 70px 0px 70px;
    /*border:solid 1.5px rgba(180, 164, 120, 0.534);*/
    border-top: transparent;
    border-bottom: transparent;
    /*background-color:  rgb(78, 78, 77, 0.7);*/
    
}

.mainimg {}
.mainimg img {
    object-fit: cover;
    width: 100%;
    height: 40%;
    position: relative;
}

.mobailtop {
    display: none;
    
}

.mainimg .tittle {
    position: absolute;
    top: 47%;
    left: 58%;
}

.mainimg h1 {
    color: #fff;
    font-family: 游明朝;
    font-size: 7rem;
}

.mainimg .toptittle {
    color: #fff;
    font-family: 游明朝;
}

.comcept {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 85px;
    margin-left: 85px;
    margin-top: 135px;
}
.comcept .co {
    font-family: 游明朝;
    font-size: 1rem;
    
}

.line {
    border: solid 1.5px rgba(180, 164, 120, 0.486);
    width: 50%;
    text-align: center;
    margin: auto;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}



/*========= スクロールダウンのためのCSS ===============*/


/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:-1%;
  right:10%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:3%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left: -45px;
  bottom:10px;
    /*テキストの形状*/
  color: #eee;
  font-size: 2rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 50px;
  background:#eee;
}

/*************************************************/


.partition {
    margin-top: 230px;
}

.partition .kglof {
    width: 1150px;
    object-fit: cover;
    height: 245px;
}

.shop {
    margin: 125px 0;
    background-image: url(img/haikeibokasi.jpg);
    background-size: cover;
}

.bkRG {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
}

.shop h2 {
    font-family: 游明朝;
    text-align: right;
    margin-right: 72%;
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 4rem;
}
.shop .item {
    font-family: 游明朝;
    text-align: left;
    margin-left: 15%;
    font-size: 1.5rem;
    margin-top: 10px;
}
.shop .list {
    font-family: 游明朝;
    text-align: left;
    margin-left: 28%;
}
.shop .map {
    font-family: 游明朝;
    color: #000;
    text-align: left;
    margin-left: -21%;
}
.shop .syousai {
    font-family: 游明朝;
    font-size: 0.8rem;
    text-align: left;
    margin-left: 28%;
}

.parti {
    margin: 210px 0;
    position: relative;
}
.menutop {
    width: 82%;
    height: 437px;
    object-fit: cover;
    filter: blur(1.5px);
}
.inst {
    position: absolute;
    top: 45%;
    left: 16%;
    color: white;
    font-family: 游明朝;
    font-size: 1.5rem;
}

.painst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    width: 200px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(128, 128, 128, 0.6);
    border-radius: 40px;
}

.painst::before{
    content: '';
    width: 12px;
    height: 12px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
}

.painst::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translateY(-50%);
    width: 15px;
    height: 2px;
    background-color: #000;
}


.menu {
    
    background-color: #d4d5d533;
}

.menu h3 {
    font-family: 游明朝;
    margin-top: 50px;
    margin-bottom: 160px;
    font-size: 4rem;
}
.menu .basicmenu {
    width: 100%;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
     margin:0 auto;
 }
 
 .slider img {
     width:100%;/*スライダー内の画像を横幅100%に*/
     height:auto;
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
     margin:0 10px;
 }
 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 .slick-prev, 
 .slick-next {
     position: absolute;/*絶対配置にする*/
     top: 42%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     border-top: 2px solid #666;/*矢印の色*/
     border-right: 2px solid #666;/*矢印の色*/
     height: 15px;
     width: 15px;
 }
 
 .slick-prev {/*戻る矢印の位置と形状*/
     left: -1.5%;
     transform: rotate(-135deg);
 }
 
 .slick-next {/*次へ矢印の位置と形状*/
     right: -1.5%;
     transform: rotate(45deg);
 }
 
 /*ドットナビゲーションの設定*/
 
 .slick-dots {
     text-align:center;
   margin:20px 0 0 0;
 }
 
 .slick-dots li {
     display:inline-block;
   margin:0 5px;
 }
 
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;/*ドットボタンのサイズ*/
     height:8px;/*ドットボタンのサイズ*/
     display:block;
     border-radius:50%;
     background:#ccc;/*ドットボタンの色*/
 }
 
 .slick-dots .slick-active button{
     background:#333;/*ドットボタンの現在地表示の色*/
 }
 
 
 /*========= レイアウトのためのCSS ===============*/
 
 
 h2,p {
     text-align:center;
     padding:20px;
 }
 
 .shopul {
    margin-right: 50%;
    margin-left: 10%;
    padding-left: 0;
    list-style: none;
    border:solid 2px rgba(180, 164, 120, 0.486);
    border-top: transparent;
    border-right: transparent;
    padding-bottom: 70px;
    
}
 
 
 a{
   color: #333;
 }
 
 a:hover,
 a:active{
   text-decoration: none;
 }

 


 /*========= ===============*/





 .giftimg {
    margin-top: 265px;
    position: relative;
}

.giftimg h4 {
    font-family: 游明朝;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 3rem;
    text-align: left;
    margin-left: 20%;
}


.giftimg .gifttop {
    width: -10%;
    margin: 0 10px;
    /* object-fit: cover;*/
}


.giftimg .gifttittle {
  
    font-family: 游明朝;
    font-size: 2rem;
    color: rgb(59, 59, 59);
}

.giftimg .giftp {
  
    font-family: 游明朝;
    font-size: 0.85rem;
}

.remmebin {
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.rembin {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}
.rembin img {
    width: 30%;
    margin: 0 10px;
}

.base {
    
    /* margin-top: 135px; */
    /* margin-right: 33.5%; */
    /* margin-left: 33.5%; */
    /* background-color: rgb(245, 245, 220, 0.4); */
    /* padding: 100px 0px; */
    /* border-radius: 50%;*/

}

.base .baseannai {
    font-family: 游明朝;
    font-size: 1.2rem;
    margin-top: 30px;
}
.base.basephoto {}

.topyazirusi{}
.topyazirusi .yazirusi { 
    width: 3%;
    margin-top: 87px;
    margin-bottom: 10%;
}



.v_line_fix {
    margin-left: 49.5%;
    margin-top: -35px;
    width: 2px;
    height: 62px;
    background-color: rgba(119, 117, 117, 0.904);
  }

  .arrow2{
    margin-left: 46%;
    margin-top: 8%;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #565656 #565656 transparent transparent;
    transform: rotate(-45deg);
  }


footer {
    padding-top: 115px;
    margin: 0 70px 0px 70px;
    justify-content: center;
}

.company {
    text-align: center;
    font-family: 游明朝;
    list-style: none;
    font-size: 0.7rem;
}

.flex {
    display: flex;
    justify-content: center;
    margin: auto 0;
}
.instlink {}
.instlink .footinst {}

.instlink .ins {
    width: 33%;
    margin-left: 45px;
    /* text-align: center; */
}
.instlink .ins .footinst {}
.footbaselink {}

.footbaselink .footbase {
    text-align: right;
}

.footbaselink .basef {
    
    margin-left: 37px;    
}
.footbaselink .basef .footbase {}


/* ------------------------------------------------------------------------------------------------------------
    /* モバイル向けスタイル */

    @media screen and (max-width: 540px) {
   

        body {
            width: 100%;
            background-color: rgb(208, 206, 200,0.2);
        }


        main {
            margin: initial;
            
        }

        
        .mainimg img {
            display: none;
        }

       .mainimg .mobailtop {
            display: inline;
            object-fit: cover;
            width: 100%;
            height: 40%;
            position: relative;
        }

        .mainimg .tittle {
            position: absolute;
            top: 30%;
            left: 12%;
        }
        .mainimg h1 {
            color: rgb(255, 255, 255);
            font-family: 游明朝;
            font-size: 3.5rem;
        }

        .partition {
            margin-top: 60px;
        }

        .scrolldown4 {
            position: absolute;
            top: 16%;
            right: 45%;
            animation: arrowmove 1s ease-in-out infinite;
        }

        .scrolldown4 span {
            position: absolute;
            left: -35px;
            top: 84px;
            color: #eee;
            font-size: 1rem;
            letter-spacing: 0.05em;
            -ms-writing-mode: tb-rl;
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
        }

        .scrolldown4:before {
            content: "";
            position: absolute;
            bottom: 46%;
            right: -6px;
            width: 1px;
            height: 20px;
            background: #eee;
            transform: skewX(-31deg);
        }

        .scrolldown4:after {
            content: "";
            position: absolute;
            bottom: 46%;
            right: 0;
            width: 1px;
            height: 50px;
            background: #eee;
        }

        .comcept {
            margin-bottom: -38px;
            margin-right: initial; 
            margin-left: initial; 
            margin-top: 30px; 
        }

        .comcept .co {
            font-family: 游明朝;
            font-size: 0.7rem;
        }

        .mainimg .toptittle {
            color: rgb(255, 255, 255);
            font-family: 游明朝;
            font-size: 0.7rem;
        }

        .partition .kglof {
            width: 100%;
            object-fit: cover;
            height: 245px;
        }

        .shop h2 {
            font-family: 游明朝;
            text-align: right;
            margin-right: 47%;
            margin-top: 50px;
            margin-bottom: 80px;
            font-size: 3rem;
        }

        .shopul {
            margin-right: initial;
            margin-left: 10%;
            padding-left: 0;
            list-style: none;
            border: solid 1.5px rgba(180, 164, 120, 0.486);
            border-top: transparent;
            border-right: transparent;
            border-bottom: transparent;
            padding-bottom: 70px;
            /*background-color: #e5dfd8;*/
        }

        .shop .list {
            margin-top: 2%;
            font-size: 0.8rem;

        }


        .menu h3 {
            font-family: 游明朝;
            margin-top: 50px;
            margin-bottom: 80px;
            font-size: 3rem;
        }

        .menutop {
            width: 95%;
            height: initial;
            object-fit: cover;
            position: relative;
        }
        
        .shop .item {
            font-family: 游明朝;
            text-align: left;
            margin-left: 15%;
            font-size: 1.5rem;
            margin-top: 8%;
        }

        .painst {
            color: white;
            background-color: rgb(128, 128, 128, 0.6);
            position: absolute;
            top: 78%;
            left: 23%;
        }

        .painst {
            color: white;
            background-color: rgb(128, 128, 128, 0.6);
            position: absolute;
            top: 78%;
            left: 23%;
        }

        .parti {
            margin: 60px 0;
            position: relative;
        }

        .guide {
            
            font-size: 1rem;
        }

        .slider {
            width: 94%;
            margin: 0 auto;
            background-color: #e5dfd8;
            vertical-align: middle;
            padding-top: 20px;
        }

        .giftimg {
            margin-top: 65px;
            position: relative;
        }

        .giftimg .giftp {
          
            font-family: 游明朝;
            font-size: 0.5rem;
        }
        .giftimg .gifttittle {
           
            font-family: 游明朝;
            font-size: 0.7rem;
            color: rgb(59, 59, 59);
        }

        .base {
            margin-top: 10px;
            margin-right: 2%;
            margin-left: 2%;
            /* background-color: rgb(245, 245, 220, 0.4); */
            padding: 10px 0px;
            border-radius: initial;
        }
        

        .base .baseannai {
            font-family: 游明朝;
            font-size: 0.7rem;
        }

        .topyazirusi .yazirusi {
            width: 8%;
            margin-top: 40px;
        }

        footer {
            padding-top: 70px;
            margin-top: initial;
            width: 100%;
            margin: 0px;
            justify-content: center;
        }

        .company {
            text-align: center;
            margin: auto;
            font-size: 0.6rem;
        
        }

        .flex {
            display: flex;
            justify-content: center;
            margin: auto 0;
        }
        .instlink {}
        .instlink .footinst {}
        
        .instlink .ins {
            width: 33%;
            margin-left: 45px;
            /* text-align: center; */
        }
        .instlink .ins .footinst {}
        .footbaselink {}
        
        .footbaselink .footbase {
            text-align: right;
        }
        
        .footbaselink .basef {
            
            margin-left: 37px;    
        }
        .footbaselink .basef .footbase {}
        
    
    }